{% extends 'DuckAssistantBundle::base.html.twig' %}

{% block title %}Użytkownicy{% endblock %}

{% block body %}
<h1>Lista użytkowników
      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <a href="{{ path('duck_assistantBundle_user_add') }}"><button class="btn btn-primary">Dodaj Użytkownika</button></a>

      {% endif %}
</h1>
<div class="col-md-12">
    <table class="table">
        <thead>
            <th>#</th>
            <th>Nazwa:</th>
            <th>E-mail:</th>
            <th>Utworzony:</th>
            <th>Utworzone zadania</th>
            <th>Przypisane zadania:</th>
            <th>Utworzone kategorie:</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th>Akcja:</th>
            {% endif %}
        </thead>

        {% for User in list %}
            <tr>
                <td>{{ User.id }}</td>
                <td>{{ User.name }}</td>
                <td>{{ User.email }}</td>
                <td>{{ User.createdAt|date('d-m-y') }}</td>
                <td>
                 {% for Task in User.createdTasks %}
                     {{ Task.content  }},
                {% endfor %}
                </td>
                <td>
                    {% for Task in User.assignedTasks %}
                        {{ Task.content  }},
                    {% endfor %}
                </td>
                <td>
                    {% for Category in User.createdCategories %}
                        {{ Category.name  }},
                    {% endfor %}
                </td>
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <td>
                        <a class="label label-primary" href="{{ path('duck_assistantBundle_user_edit', {'id': User.id }) }}">Edytuj</a> &nbsp;
                        <form action="{{ path('duck_assistantBundle_user_del', {'id':  User.id }) }}" method="post"> <button type="submit" class="label label-primary"> Usuń </button></form>
                    </td>
                {% endif %}

            </tr>
        {% endfor %}

    </table>

{% endblock %}
