{% extends "::base.html.twig" %}

{% block title %} User List{% endblock %}

{% block body %}
<h1>Here you can see users: </h1>
<div class="col-md-12">
    <table class="table">
        <thead>
            <th>#</th>
            <th>Nazwa:</th>
            <th>e-mail:</th>
            <th>Utworzony:</th>
            <th>Utworzone zadania</th>
            <th>Przypisane zadania:</th>
            <th>Utworzone kategorie:</th>
        </thead>

        {% for User in users %}
            <tr>
                <td>{{ User.id }}</td>
                <td>{{ User.name }}</td>
                <td>{{ User.email }}</td>
                <td>{{ User.createdAt|date('d-m-y') }}</td>
                <td>
                 {% for Task in User.createdTasks %}
                     {{ Task.content  }},
                {% endfor %}
                </td>
                <td>
                    {% for Task in User.assignedTasks %}
                        {{ Task.content  }},
                    {% endfor %}
                </td>
                <td>
                    {% for Category in User.createdCategories %}
                        {{ Category.name  }},
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
