{% extends '::base.html.twig' %}

{% block body %}
    <h1>Categories Lists</h1>

    <table width="100%">
        <tr>
            <td>Nazwa:</td>
            <td>Kolor:</td>
            <td>Utworzona dnia:</td>
            <td>Przez:</td>
            <td>Przypisane zadania</td>
        </tr>


            {% for Category in list %}
                <tr>
                    <td>{{ Category.name }} </td>
                    <td><strong style="color: {{ Category.color }}">{{ Category.color }}</strong></td>
                    <td>{{ Category.createdAt|date('d-m-Y') }} </td>
                    <td>{{ Category.createdBy.name }} </td>
                    <td>
                    {% for Task in Category.tasks %}
                        {{ Task.content }} &bullet;
                    {% endfor %}
                    </td>
                </tr>
          {% endfor %}
    </table>
{% endblock %}
