{% extends 'DuckAssistantBundle::base.html.twig' %}
{% block title %}Kategorie{% endblock %}
{% block body %}
    <h1>Lista Kategorii
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <a href="{{ path('duck_assistantBundle_cat_add') }}"><button class="btn btn-primary">Dodaj kategorię</button></a>

        {% endif %}
        </h1>
<div class="col-md-12">
    <table class="table">
        <thead>
            <th>Nazwa:</th>
            <th>Kolor:</th>
            <th>Utworzona dnia:</th>
            <th>Przez:</th>
            <th>Przypisane zadania</th>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <th>Akcja:</th>
            {% endif %}
        </thead>


            {% for Category in list %}
                <tr>
                    <td>{{ Category.name }} </td>
                    <td><strong style="color: {{ Category.color }}">{{ Category.color }}</strong></td>
                    <td>{{ Category.createdAt|date('d-m-Y') }} </td>
                    <td>{{ Category.createdBy.name }} </td>
                    <td>
                    {% for Task in Category.tasks %}
                        {{ Task.content }} &bullet;
                    {% endfor %}
                    </td>
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                        <td>
                            <a class="label label-primary" href="{{ path('duck_assistantBundle_cat_edit', {'id': Category.id }) }}">Edytuj</a> &nbsp;
                            <a class="label label-danger" href="{{ path('duck_assistantBundle_cat_delete', {'id':  Category.id }) }}">Usuń</a>
                        </td>
                    {% endif %}

                </tr>
          {% endfor %}
    </table>
</div>
{% endblock %}
