{% extends '::base.html.twig' %}

{% block body %}
    <h1>Task Lists</h1>

<table width="100%">
<tr>
    <td>ID:</td>
    <td>Nazwa</td>
    <td>Rozpoczęcie</td>
    <td>Koniec</td>
    <td>Zrealizowane?</td>
    <td>Utworzono:</td>
    <td>Priorytet</td>
    <td>Utworzone Przez</td>
    <td>Przypisane do</td>
    <td>Kategoria</td>
</tr>


{% for Task in list %}
    <tr>
        <td>{{ Task.id }}</td>
        <td>{{ Task.content }}</td>
        <td>{{ Task.date|date("d-m-Y") }}</td>
        <td>{{ Task.dueDate|date("d-m-Y")  }}</td>
        <td>{{ Task.done|replace({'1': "Tak", "0": "Nie"}) }}</td>
        <td>{{ Task.createAt|date("d-m-Y") }}</td>
        <td>{{ Task.priority  }}</td>
        <td>{{ Task.createdBy.name  }}</td>
        <td>{{ Task.assignee ? Task.assignee.name  }}</td>
        <td>{{ Task.category.name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
