{% extends '::base.html.twig' %}

{% block body %}
    <h1>Task Lists</h1>
<div class="col-md-12">
    <table class="table">
    <thead>
    <th>#</th>
    <th>Nazwa</th>
    <th>Rozpoczęcie</th>
    <th>Koniec</th>
    <th>Zrealizowane</th>
    <th>Utworzono:</th>
    <th>Priorytet</th>
    <th>Utworzone Przez</th>
    <th>Przypisane do</th>
    <th>Kategoria</th>
</thead>


{% for Task in tasks %}
    <tr>
        <td>{{ Task.id }}</td>
        <td>{{ Task.content }}</td>
        <td>{{ Task.date|date("d-m-Y") }}</td>
        <td>{{ Task.dueDate|date("d-m-Y")  }}</td>
        <td>{{ Task.done|replace({'1': "Tak", "0": "Nie"}) }}</td>
        <td>{{ Task.createAt|date("d-m-Y") }}</td>
        <td>{{ Task.priority  }}</td>
        <td>{{ Task.createdBy.name  }}</td>
        <td>{{ Task.assignee ? Task.assignee.name  }}</td>
        <td>{{ Task.category.name }}</td>
    </tr>
{% endfor %}
</table>
{% endblock %}
