{% extends 'DuckAssistantBundle::base.html.twig' %}
{% block title %}Zadania{% endblock %}
{% block body %}
<h1>Lista Zadań
    {% if  is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="{{ path('duck_assistantBundle_task_add') }}"><button class="btn btn-primary">Dodaj Zadanie</button></a>
    {% endif %}

</h1>
<div class="col-md-12">

<table class="table">
    <thead>
        <th>Nazwa</th>
        <th>Rozpoczęcie</th>
        <th>Koniec</th>
        <th>Zrealizowane</th>
        <th>Utworzono:</th>
        <th>Priorytet</th>
        <th>Utworzone Przez</th>
        <th>Przypisane do</th>
        <th>Kategoria</th>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <th>Akcja:</th>
        {% endif %}
    </thead>


{% for Task in list %}
    <tr>
        <td>{{ Task.content }}</td>
        <td>{{ Task.date|date("d-m-Y") }}</td>
        <td>{{ Task.dueDate|date("d-m-Y")  }}</td>
        <td>{{ Task.done ? "Tak" : "Nie" }}</td>
        <td>{{ Task.createAt|date("d-m-Y") }}</td>
        <td>{{ Task.priority  }}</td>
        <td>{{ Task.createdBy.name  }}</td>
        <td>{{ Task.assignee ? Task.assignee.name  }}</td>
        <td>{{ Task.category ? Task.category.name }}</td>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <td>
                <a class="label label-primary" href="{{ path('duck_assistantBundle_task_edit', {'id': Task.id }) }}">Edytuj</a> &nbsp;
                <form action="{{ path('duck_assistantBundle_task_delete', {'id':  Task.id }) }}" method="post"> <button type="submit" class="label label-primary"> Usuń </button></form>
            </td>
               {% endif %}

    </tr>
{% endfor %}
</table>
</div>
{% endblock %}
